<header>
    <div class="container">
        <ul class="row">
            <li class="header-home col-md-2">게시판</li>
            <li class="header-request col-md-2">굿즈 요청</li>
            <li>
                <div id="kakao-login-btn"></div>
                <div id="kakao-logout-btn"></div>
            </li>
        </ul>
    </div>
    <div class="container">
    </div>
</header>