@font-color: #333;

body {
  color: @font-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: aquamarine;

  ul li {
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
  }
}

.bar {
  margin: 5px 0px;
  border: solid #333333 1px;
}

#kakao-login-btn {
  width: 50px;
  height: 50px;
  background-image: url(../img/kakaolink_btn_medium.png);
  background-size: cover;
}

#kakao-logout-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../img/kakaolink_btn_medium_out.png);
  background-size: cover;
}