<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{게시글 넘버}</title>
</head>
<body>
{{> template/header }}
<div class="dl-horizontal">
    <dt>제목</dt>
    <dd class="gt-detail-title">{}</dd>
    <dt>작성자</dt>
    <dd class="gt-detail-writer">{}</dd>
    <dt>그룹</dt>
    <dd class="gt-detail-groups">{}</dd>
    <dt>가수</dt>
    <dd class="gt-detail-singer">{}</dd>
    <dt>상태</dt>
    <dd class="gt-detail-state">{}</dd>
    <dt>작성 날짜</dt>
    <dd class="gt-detail-writedt">{}</dd>
    <dt>이미지</dt>
    <dd class="gt-detail-img"><img class="gt-detail-img-src" src="./img/noimg.png"></dd>
    <dt>내용</dt>
    <dd class="gt-detail-content">
        {asdf<br>
        asdf<br>
        asdf<br>
        asdf}<br>
    </dd>
</div>
<button class="goto-main btn btn-primary">뒤로</button>
{{> template/footer }}
</body>
</html>