<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{게시글 넘버}</title>
</head>
<body>
{{> template/header }}
<div class="dl-horizontal">
    <dt>제목</dt>
    <dd>{아이유 2017아이유투어콘서트서울 티켓}</dd>
    <dt>작성자</dt>
    <dd>{asdf}</dd>
    <dt>그룹</dt>
    <dd>{솔로}</dd>
    <dt>가수</dt>
    <dd>{아이유}</dd>
    <dt>상태</dt>
    <dd>{판매중}</dd>
    <dt>작성 날짜</dt>
    <dd>{2017.11.31 17:00}</dd>
    <dt>이미지</dt>
    <dd><img src="./img/1/DL_mVhOUQAAPC4R.jpg"></dd>
    <dt>작성자</dt>
    <dd>
        {asdf<br>
        asdf<br>
        asdf<br>
        asdf}<br>
    </dd>
</div>
<button class="goto-main btn btn-primary">Go To Main Page</button>
{{> template/footer }}
</body>
</html>