<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Goods Trade</title>
</head>
<body>
{{> template/header}}
<div class="container">
    <div class="row">
        <h3 class="gt-title">굿즈 게시판</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        가수그룹 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">그룹</a></li>
                        <li><a href="#">솔로</a></li>
                    </ul>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        가수 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">아이유</a></li>
                        <li><a href="#">레드벨벳</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </div>
    </div>
    <div class="row">
            <button class="btn btn-primary">추가</button>
    </div>
    <div class="row">
        <div class="bar col-md-12"></div>
    </div>
    <div class="row">
        <ul class="gt-trade-list">
        </ul>
    </div>
</div>
{{> template/footer}}
</body>
</html>
