<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Goods Request</title>
</head>
<body>
{{> template/header}}
<div class="container">
    <div class="row">
        <h3 class="gt-title">굿즈 요청</h3>
    </div>
    <div class="row">
        <button class="btn btn-primary">추가</button>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>그룹</th>
                <th>가수</th>
                <th>굿즈</th>
                <th>상태</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2</td>
                <td>레드벨벳 사인 엽서</td>
                <td>레드벨벳</td>
                <td>레드벨벳</td>
                <td>사인 엽서</td>
                <td>완료</td>
                <td>20017.11.30 12:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>아이유 2017아이유투어콘서트서울 티켓</td>
                <td>솔로</td>
                <td>아이유</td>
                <td>2017아이유투어콘서트서울</td>
                <td>요청</td>
                <td>20017.11.31 17:00</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{> template/footer}}
</body>
</html>
